<!DOCTYPE html>
<html>
<head>
   <title>Flask Leaflet</title>
   <!-- CSS -->
   <link rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='legend/src/leaflet.legend.css')}}" />

   <!-- JavaScript -->
   <script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
   <script src="{{ url_for('static', filename='legend/src/leaflet.legend.js') }}"></script>
   <script>
     function tanya()
      {
         var tanyain=confirm("Do you want to erase this data ?");
         if (tanyain)
           {
              return True;
           }
         else
           {
              return False;
           }
       }
   </script>
</head>
<body>
 <a href="/">Home</a> | <a href="/display_data">Display Data</a> |
 <a href="/colocation">Co-location pattern mining</a>
 {% block content %}{% endblock %}
 <div id="footer">
    <div id="tulisan_footer">
        Spatial Data Processing -- Akhmad Sofwan
    </div>
 </div>
</body>
</html>