{% extends "header_footer.html" %}
{% block content %}
<br/><br/>
<table class="tulisan_input_data">
<form actions="" method="post" novalidate>
    {{ form_cari.hidden_tag() }}
    <tr>
        <td>{{ form_cari.wname.label }}</td><td>:</td>
        <td>{{ form_cari.wname (size=40) }}</td>
    </tr>
    <tr>
        <td>{{ form_cari.submit_cari() }} <input type="Button" value="Kembali" onClick="history.back(1)"/></td>
    </tr>
</form>
</table>
<br/>

<a href="/entry_data" class="tulisan_input_data">Entry Data</a>
<br/>
<table border="1" id="tabel_tampil_data">
 <th>No</th><th>OSM Id</th><th>Nama</th><th>Tipe</th><th>Kota</th><th>Alamat</th>
 <th>Jenis Bangunan</th><th>Sumber Data</th><th>Opsi</th>
 {% for item in dataku %}
  <tr>
    <td>{{ loop.index }}</td><td>{{ item[1] }}</td><td>{{ item[2] }}</td>
    <td>{{ item[3] }}</td><td>{{ item[4] }}</td><td>{{ item[5] }}</td><td>{{ item[6] }}</td><td> {{ item[7] }}</td>
    <td><a href="{{ url_for('edit_data', id=item[0])}}">Edit</a> <a href="" onClick="return tanya()">Hapus</td>
  </tr>
 {% endfor %}
</table>
<br/><br/>

<div style="text-align:center;font-weight:bold;">Tampilan Peta</div>
<div id="map"></div>
<script>
       var map = L.map('map').setView([-6.0, 106.0  ], 8);
       mapLink =
       '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; ' + mapLink + ' Contributors',
        maxZoom: 18,
       }).addTo(map);
       {% for itemnya in datapeta %}
           var marker = L.marker([{{ itemnya[4] }}, {{ itemnya[3] }}]).addTo(map);
           marker.bindPopup("{{ itemnya[1] }} <br/> {{ itemnya[2] }}");
       {% endfor %}

</script>
{% endblock %}